.Skype
.fehbg
*.png
.anyRemote/
!.anyRemote/keyboard.cfg
!.anyRemote/vlc.cfg
.weechat
.purple/
!.purple/accels
localhost/
!localhost/dwm/
!localhost/dwmstatus/
!localhost/mpdcontrol/
.ICEauthority
.VirtualBox/
.Xauthority
.adobe/
.bash_history
.bash_logout
.cache/
.cgdb/
.codeblocks/
.config/
.conkyrc
.dbus/
.dia/
.dmrc
.drirc
.dropbox-dist/
.dropbox.old/
.dropbox/
.eclipse/
.esd_auth
.fontconfig/
.gconf/
.gegl-0.0/
.gimp-2.6/
.gimp-2.8/
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0.bk
.gtkrc-xfce.bk
.histfile
.hplip/
.icedtea/
.icons/
.java/
.kde4/
.lesshst
.linuxmint/
.local/
.macromedia/
.mateconf/
.mateconfd/
.matplotlib/
.mozilla/
.mpd/
.mplayer/
.offlineimap/
.offlineimaprc
.pip/
.pki/
.local/
.macromedia/
.mateconf/
.mateconfd/
.matplotlib/
.mozilla/
.mpd/
.mplayer/
.offlineimap/
.offlineimaprc
.pip/
.pki/
.profile
.pulse-cookie
.pulse/
.recently-used
.sane/
.shutter/
.sqlite_history
.ssh/
.surf/
.teeworlds/
.texlive/
.tgdb/
.thunderbird/
.viminfo
.vimtags
.workrave/
.xchat2/
.xlog
.xscreensaver
.xserverrc
.xsession-errors
Maildir/
Music/
Public/
VirtualBox VMs/
Downloads/
Documents/
.gitconfig.private
.vim/
!.vim/ycm_extra_conf.py
*.private
.gphoto/
.ghc/
.zcompdump
.zsh-update
.zsh_history
.oh-my-zsh/
!.oh-my-zsh/custom/config.zsh
.cabal/
.designer/
.dwmstatus.log
.tor-browser-en/
.zshrc.orig
.zshrc.pre-oh-my-zsh
.i3/i3log
*.tmp
